<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="static/assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="static/assets/css/swiper-bundle.min.css">


      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="static/assets/css/styles.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
      crossorigin="anonymous">

      <title>Responsive book website - Bedimcode</title>
   </head>
   <body class="body">
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo" style="text-decoration: none;">
               <i class="ri-book-3-line"></i>
               Book Recommendation System
            </a>

            <div class="nav__menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="/" class="nav__link">
                        <i class="ri-home-line"></i>
                        <span>Home</span>
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="/#top" class="nav__link">
                        <i class="ri-award-line"></i> 
                        <span>Top 50</span>
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="/recommend" class="nav__link">
                        <i class="ri-book-marked-line"></i>
                        <span>Recommendation</span>
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="/info" class="nav__link">
                        <i class="ri-information-2-line"></i>
                        <span>About Project</span>
                     </a>
                  </li>

                  <li class="nav__item">
                     <a href="/team" class="nav__link">
                        <i class="ri-group-3-line"></i>
                        <span>Team</span>
                     </a>
                  </li>
                  
               </ul>
            </div>

            <div class="nav__actions">
               <i class="ri-moon-line" id="theme-button"></i>
            </div>
         </nav>
         
      </header>

      
      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <div class="home__container info__data">
               <div class="home__data">
                <center>
                    <h1>
                        Book Recommendation System Using Collaborative Filtering
                     </h1>

                     <br><br>

                </center>
                <div class="home__images">
                    <div class="home__swiper swiper">
                       <div class="swiper-wrapper">
                          <article class="home__article swiper-slide">
                             <img src="{{ image[0] }}" alt="image" class="home__img">
                          </article>
     
                          <article class="home__article swiper-slide">
                             <img src="{{ image[1] }}" alt="image" class="home__img">
                          </article>
     
                          <article class="home__article swiper-slide">
                             <img src="{{ image[2] }}" alt="image" class="home__img">
                          </article>
     
                          <article class="home__article swiper-slide">
                             <img src="{{ image[3] }}" alt="image" class="home__img">
                          </article>
  
                          <article class="home__article swiper-slide">
                             <img src="{{ image[4] }}" alt="image" class="home__img">
                          </article>
                          <article class="home__article swiper-slide">
                            <img src="{{ image[5] }}" alt="image" class="home__img">
                         </article>
                         <article class="home__article swiper-slide">
                            <img src="{{ image[6] }}" alt="image" class="home__img">
                         </article>
                       </div>
                    </div>
                  
                  

        <h2>Description:</h2>
        <p>We developed a project named "Book Recommendation System using collaborative filtering". This project utilizes a Collaborative filtering recommendation system model to recommend books based on user interests. The system is developed using Python, Flask, HTML, CSS, JavaScript, and Bootstrap. The main agenda of the project is to recommend books based on user preferences. It generates data of the top 50 books and also generates recommendations based on user searches using collaborative filtering.</p>

        <h2>Key Features:</h2>
        <ul>
            <li>Recommendation based on user interests</li>
            <li>Utilizes collaborative filtering model</li>
            <li>Development with Python, Flask, HTML, CSS, JavaScript, and Bootstrap</li>
            <li>Generates data of top 50 books</li>
            <li>Generates recommendations based on user search</li>
        </ul>

        <h2>Technologies Used:</h2>
        <ul>
            <li><strong>Python:</strong> Utilized for backend development and implementing collaborative filtering algorithms.</li>
            <li><strong>Flask:</strong> Lightweight web framework for Python, used for handling HTTP requests and managing sessions.</li>
            <li><strong>HTML:</strong> Standard markup language for creating web pages, used for structuring content.</li>
            <li><strong>CSS:</strong> Cascading Style Sheets, used for styling HTML elements and defining visual appearance.</li>
            <li><strong>JavaScript:</strong> Programming language for adding interactivity and dynamic behavior to web pages.</li>
            <li><strong>Bootstrap:</strong> Front-end framework for building responsive and mobile-first web applications, used for pre-designed templates and components.</li>
        </ul>

        <h2>Conclusion:</h2>
        <p>The Book Recommendation System using Collaborative Filtering offers personalized book recommendations based on user interests. By leveraging collaborative filtering techniques and modern web technologies such as Python, Flask, HTML, CSS, JavaScript, and Bootstrap, the system aims to enhance user experience and promote engagement with reading materials.</p>
        </div>
    </div>
               
      <!--==================== FOOTER ====================-->
      <!--=============== SCROLLREVEAL ===============-->
      <script src="static/assets/js/scrollreveal.min.js"></script>

      <!--=============== SWIPER JS ===============-->
      <script src="static/assets/js/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="static/assets/js/main.js"></script>
   </body>
</html>